{{ define "list_edit" }}
<!DOCTYPE html>
<html>
<head>
    {{ template "_header.html" . }}
</head>
<body>
    <div id="wrapper">
        {{ template "_navbar.html" . }}
        <div id="page-wrapper" class="gray-bg">
            {{ template "_topbar.html" . }}
            {{ template "_breadcrumb.html" . }}
            <div class="wrapper wrapper-content animated fadeInRight">            
                <!-- content -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Update Data Endpoint</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="alert alert-success alert-dismissable d-none" id="api-alert-success">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    API Endpoint Berhasil Disimpan
                                </div>
                                <div class="alert alert-danger alert-dismissable d-none" id="api-alert-failed">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    API Endpoint Gagal Disimpan
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label for="">API Endpoint</label>
                                        <div class="input-group m-b">
                                            <div class="input-group-prepend">
                                                <span class="input-group-addon">http://ip:port/HelperEasyAPI/</span>
                                            </div>
                                            <input type="text" id="input-endpoint" placeholder="API Endpoint" class="form-control" value="{{.detailEndpoint.DATA.Endpoint}}">
                                            <div class="input-group-append">
                                                <select class="input-group-addon" id="dropType">
                                                    <option value="GET" {{ if eq .detailEndpoint.DATA.Type_endpoint "READ" }} selected {{ end }}>GET</option>
                                                    <option value="INSERT" {{ if eq .detailEndpoint.DATA.Type_endpoint "INSERT" }} selected {{ end }}>INSERT</option>
                                                    <option value="UPDATE" {{ if eq .detailEndpoint.DATA.Type_endpoint "UPDATE" }} selected {{ end }}>UPDATE</option>
                                                    <option value="DELETE" {{ if eq .detailEndpoint.DATA.Type_endpoint "DELETE" }} selected {{ end }}>DELETE</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">Koneksi</label>
                                        <select id="input-koneksi" class="select2-dropdown form-control" style="width: 100%; min-height: 30px !important;">
                                            <option value="ORCL1">ORCL1</option>
                                            <option value="ORCL2">ORCL2</option>
                                            <option value="MYSQL1">MYSQL1</option>
                                            <option value="MYSQL2">MYSQL2</option>
                                            <option value="SQLSV1">SQLSV1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <label for="">Query</label>
                                        <input type="text" name="query-box" id="query-box" class="form-control" value="{{.detailEndpoint.DATA.Query}}">
                                    </div>
                                </div>
                                <div id="get-card" class="d-none">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <label for="">Jumlah Parameter</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="number" min="0" name="get_params" id="get_params" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="">
                                        <b class="text-danger">* </b>
                                        <a href="javascript:void(0)" style="text-decoration: none;" data-toggle="tooltip" data-placement="right" title="SELECT * FROM PRODUCT WHERE ID = '%p'">
                                            PS : Untuk parameter pada kolom query diganti dengan '%p' <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                </div>
                                <div id="insert-card" class="d-none">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <label for="">Jumlah Input Field</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="number" min="0" name="insert_data" id="insert_data" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="">
                                        <b class="text-danger">* </b>
                                        <a href="javascript:void(0)" style="text-decoration: none;" data-toggle="tooltip" data-placement="right" title="INSER INTO PRODUCT (NAME, PRICE) VALUE ('%d', '%d')">
                                            PS : Untuk input field pada kolom query diganti dengan '%d' <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                </div>
                                <div id="update-card" class="d-none">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <label for="">Jumlah Update Field</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="number" min="0" name="update_data" id="update_data" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="">Jumlah Parameter</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="number" min="0" name="update_params" id="update_params" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="">
                                        <b class="text-danger">* </b>
                                        <a href="javascript:void(0)" style="text-decoration: none;" data-toggle="tooltip" data-placement="right" title="UPDATE PRODUCT SET NAME = '%d' WHERE ID = '%p'">
                                            PS : Untuk input field pada kolom query diganti dengan '%d' dan untuk parameter diganti dengan '%p' <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                </div>
                                <div id="delete-card" class="d-none">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <label for="">Jumlah Parameter</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="number" min="0" name="delete_params" id="delete_params" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="">
                                        <b class="text-danger">* </b>
                                        <a href="javascript:void(0)" style="text-decoration: none;" data-toggle="tooltip" data-placement="right" title="DELETE FROM PRODUCT WHERE ID = '%p'">
                                            PS : Untuk parameter pada kolom query diganti dengan '%p' <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                </div>

                                <!-- modal -->
                                <div id="modal-simpan-endpoint" class="modal fade" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="row mb-2">
                                                    <div class="col-md-12">
                                                        <h3 class="m-t-none m-b">Simpan Endpoint Baru</h3>
                                                        <div class="card bg-light p-4 mb-1">
                                                            <label for="">Preview JSON Data</label>
                                                            <pre style="text-align: left;" id="json-data-modal">
                                                                
                                                            </pre>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="return-box">
                                
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-sm btn-default" data-dismiss="modal"><strong>Close</strong></button>
                                                <!-- <button class="btn btn-sm btn-primary" data-dismiss="modal" id="btn-simpan-api"><strong>Simpan</strong></button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end modal -->
                            </div>
                        </div>

                        <!-- preview JSON -->
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Preview</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link" id="tools">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="alert alert-success">
                                    Untuk menampilkan form input, tekan tombol <b>PREVIEW</b>. Form untuk testing query, isi kolom field dan parameter sesuai dengan query yang sudah di inputkan
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6" id="return-preview">
                                        <!-- return input field -->
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">JSON</label>
                                        <div class="card bg-light p-4 mb-1" style="height: 250px !important;">
                                            <pre style="text-align: left; margin-bottom: 0px;" id="json-data"></pre>
                                        </div>
                                        <button class="btn btn-primary btn-block" id="test-query">Test Query</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end Preview JSON -->

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row mb-2">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3">
                                        <button class="btn btn-secondary btn-block" id="btn-preview-api">Preview</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary btn-block text-white" id="btn-simpan-api">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end content -->
            </div>
            <div class="footer">
                <strong>Copyright</strong> PT. Indomarco Prismatama &copy; 2020
            </div>
        </div>
    </div>
    {{ template "_scripts.html" . }}
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip()
            refreshDropdown();
            $('#input-koneksi').val("{{.detailEndpoint.DATA.Dbcode}}").trigger("change");
            $('#tools').click();
            getPages()
        });

        $('#dropType').on('change', function() {
            getPages()
        })
        
        $('#btn-preview-api').on('click', function() {
            previewApiJson()
        })

        $('#btn-simpan-api').on('click', function() {
            var endpoint = $('#input-endpoint').val()
            var koneksi = $('#input-koneksi').val()
            var query = $('#query-box').val()
            var type = $('#dropType').val()
            var data = 0;
            var param = 0; 

            if (type == "GET") {
                param = ($('#get_params').val() != "") ? $('#get_params').val() : 0
            } else if (type == "INSERT") {
                data = ($('#insert_data').val() != "") ? $('#insert_data').val() : 0
            } else if (type == "UPDATE") {
                data = ($('#update_data').val() != "") ? $('#update_data').val() : 0
                param = ($('#update_params').val() != "") ? $('#update_params').val() : 0
            } else if (type == "DELETE") {
                param = ($('#delete_params').val() != "") ? $('#delete_params').val() : 0
            }

            if (endpoint == '') {
                $('#input-endpoint').focus()
            } else if (koneksi == '') {
                $('#input-koneksi').focus()
            } else if (query == '') {
                $('#query-box').focus()
            } else {
                $.ajax({
                    type: 'POST',
                    url: "/update-endpoint",
                    dataType: "json",
                    data: {
                        "Inpendpoint": endpoint,
                        "Inptype": type,
                        "Inpdata": data,
                        "Inpparam": param,
                        "Inpkoneksi": koneksi,
                        "Inpquery": query,
                        "Inpid": "{{.detailEndpoint.DATA.Id}}"
                    },
                    async: false,
                    success: function (data) {
                        if (data.STATUS == "SUCCESS") {
                            $('#api-alert-success').removeClass('d-none')
                            setTimeout(function() {
                                $('#api-alert-success').addClass('d-none')
                            }, 1000);
                            $("html, body").animate({scrollTop: 0}, 200);
                            window.location.replace("/list-endpoint-api");
                        } else {
                            $('#api-alert-failed').removeClass('d-none')
                            setTimeout(function() {
                                $('#api-alert-failed').addClass('d-none')
                            }, 5000);
                            $("html, body").animate({scrollTop: 0}, 200);
                        }
                    },
                    error: function(xhr, desc, err) {
                        console.log(xhr);
                        console.log("Details: " + desc + "\nError:" + err);
                        $('#api-alert-failed').removeClass('d-none')
                        setTimeout(function() {
                            $('#api-alert-failed').addClass('d-none')
                        }, 5000);
                    }
                });
            }
        })

        $("#test-query").on("click", function() {
            const params =  [... $('input[name="params[]"]')].map(item => item.value)
            const datas =  [... $('input[name="data[]"]')].map(item => item.value)
            const tipe = $("#dropType").val();

            data_param = {
                DBCode :$("#input-koneksi").val(),
                query : $("#query-box").val(),
                type_endpoint: tipe ,
                params : params,
                data : datas
            };

            $.ajax({
                url: "/test-query-endpoint" ,
                contentType: "application/json",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(data_param), 
                success: function (data) {
                    $('#json-data').text(JSON.stringify(data, undefined, 2))
                    console.log(data)
                },
                error: function(xhr, desc, err) {
                    console.log(xhr);
                    console.log("Details: " + desc + "\nError:" + err);
                    $('#api-alert-failed').removeClass('d-none')
                    setTimeout(function() {
                        $('#api-alert-failed').addClass('d-none')
                    }, 5000);
                }
            })
        }) 

        function resetInput() {
            $('#input-endpoint').val('')
            $('#input-koneksi').val('ORCL1')
            $('#query-box').val('')

            $('#get_params').val('')
            $('#insert_data').val('')
            $('#update_data').val('')
            $('#update_params').val('')
            $('#delete_params').val('')
            
            $('#json-data').text('')
            $('#json-data-modal').text('')
        }

        function previewApiJson() {
            var endpoint = $('#input-endpoint').val()
            var koneksi = $('#input-koneksi').val()
            var query = $('#query-box').val()
            var type = $('#dropType').val()
            var data = 0;
            var param = 0;

            if (type == "GET") {
                param = ($('#get_params').val() != "") ? $('#get_params').val() : 0
            } else if (type == "INSERT") {
                data = ($('#insert_data').val() != "") ? $('#insert_data').val() : 0
            } else if (type == "UPDATE") {
                data = ($('#update_data').val() != "") ? $('#update_data').val() : 0
                param = ($('#update_params').val() != "") ? $('#update_params').val() : 0
            } else if (type == "DELETE") {
                param = ($('#delete_params').val() != "") ? $('#delete_params').val() : 0
            }

            if (endpoint == '') {
                $('#input-endpoint').focus()
            } else if (koneksi == '') {
                $('#input-koneksi').focus()
            } else if (query == '') {
                $('#query-box').focus()
            } else {
                if (type == "GET") {
                    if ($("#tools").parents(':eq(2)').attr("class") == "ibox float-e-margins border-bottom") {
                        $('#tools').click();
                    }
                    MakeForm(data, param)
                } else {
                    if ($("#tools").parents(':eq(2)').attr("class") == "ibox float-e-margins") {
                        $('#tools').click();
                    }
                    $('#return-preview').html("")
                }
            }
        }

        function MakeForm(jml_data, jml_param) {
            dHtml = ``
            pHtml = ``

            $('#return-preview').html("")

            if (jml_data > 0) {
                dHtml += `<div class="row"><div class="col-md-12"><label for=""><b>DATA</b></label><div class="row">`
                for (var i = 1; i <= jml_data; i++) {
                    dHtml += `<div class="col-md-6"><label for="">Data `+ i +`</label><div class="form-group"><input type="text" name="data[]" placeholder="Data `+ i +`" class="form-control"></div></div>`
                }
                dHtml += `</div></div></div>`
            }

            if (jml_param > 0) {
                pHtml += `<div class="row"><div class="col-md-12"><label for=""><b>PARAMETER</b></label><div class="row">`
                    for (var i = 1; i <= jml_param; i++) {
                    pHtml += `<div class="col-md-6"><label for="">Param `+ i +`</label><div class="form-group"><input type="text" name="params[]" placeholder="Param `+ i +`" class="form-control"></div></div>`
                }
            }

            $('#return-preview').append(dHtml + pHtml)
        }
        
        function refreshDropdown() {
            $('.select2-dropdown').select2();
        }

        function getPages() {
            var type = $('#dropType').val()
            if (type == 'GET') { $('#get-card').removeClass('d-none'); $("#get_params").val("{{.detailEndpoint.DATA.JmlParam}}") } else { $('#get-card').addClass('d-none') }
            if (type == 'INSERT') { $('#insert-card').removeClass('d-none'); $("#insert_data").val("{{.detailEndpoint.DATA.JmlData}}"); } else { $('#insert-card').addClass('d-none') }
            if (type == 'UPDATE') { $('#update-card').removeClass('d-none'); $("#update_data").val("{{.detailEndpoint.DATA.JmlData}}"); $("#update_params").val("{{.detailEndpoint.DATA.JmlParam}}"); } else { $('#update-card').addClass('d-none') }
            if (type == 'DELETE') { $('#delete-card').removeClass('d-none'); $("#delete_params").val("{{.detailEndpoint.DATA.JmlParam}}"); } else { $('#delete-card').addClass('d-none') }
        }
    </script>
</body>
</html>
{{ end }}